<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <% 
    dice1 = rand(1..6)
    dice2 = rand(1..6)
    sum = dice1 + dice2
  %>
<p>
  <img src="/images/dice/<%=dice1%>.svg" alt="">
  Dice 1: <%=dice1%> 
</p>
<p>
  <img src="/images/dice/<%=dice2%>.svg" alt="">
  Dice 2: <%=dice2%> 
</p>
<p>Sum: <%=sum%> </p>
<a href="/dice">Roll Again</a>
</body>
</html>